body {
background-color: cornflowerblue;
}
.container > img {
    display: block;
    margin: auto;
    padding: 20px;
}
.container > h1 {
    display: block;
    margin: auto;
    text-align: center;
}
/* 40 lines */
/* style html */
/* bonus  fav icon */